<!doctype html>
<html>
  <head>
    {% block head %}
   
    <title>{% block title %} User management - Funanani Nekhunguni{% endblock %}</title>
    {% endblock %}
    {% block styles %}
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Your custom styles here */
  </style>
{% endblock %}
  </head>
  <body style="background-color: #cbe5e5;">
    <div id="content" class="container-fluid" >{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}

      {% endblock %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </body>
</html>