{% extends "base.html" %}


{% block content %}

<style>
  .hidden {
    display: none;
  }

  .table {
    border: none;
  }
</style>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p style="color: #ffffff;">{{ message }}</p>
      </div>      
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div>
  {% if isAdmin %}
    <a href="/admin" class="btn btn-primary">Admin Dashboard</a>
  {% endif %}
</div>
  <br/>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Profile Information</h5>
        <table class="table">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ user_id }}</td>
              <td>{{ username }}</td>
              <td>{{ email }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  <br/>
  <button id="toggleButton" class="btn btn-primary" >Edit Profile</button>
  <button id="deleteButton" class="btn btn-danger" >Delete Account</button>

  <div class="card hidden" id="profileForm" >
    <div class="card-header">
      <h5 class="card-title">Edit profile</h5>
    </div>
  <div class="card-body">
    <form action="/profile" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" value="{{ username }}" class="form-control" placeholder="Enter new username" name="username" id="username" required>
        <div class="invalid-feedback">Please provide a username.</div>
      </div>
    
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" value="{{ email }}" class="form-control" placeholder="Enter new email" name="email" id="email" required>
        <div class="invalid-feedback">Please provide a valid email.</div>
      </div>
    
      <div class="mb-3">
        <label for="password" class="form-label">New Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Password should be 5 characters or more" id="password" minlength="5">
      </div>
    
      <button type="submit" class="btn btn-primary">submit</button>
    </form>
   </div> 
  </div>
  <br/>

  <div class="card hidden" id="deleteForm" >
    <div class="card-header">
      <h5 class="card-title">Delete Account</h5>
    </div>
    <div class="card-body">
      <form id="deleteForm" method="post" action="/profile" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="user-password" class="form-label">Enter password to delete account:</label>
          <input type="password" name="password" class="form-control" placeholder="Enter password" id="user-password" required>
          <div class="invalid-feedback">Please enter your password.</div>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
      
  </div>
  <br/>
  <br/>
  <form action="/signout" method="post" >
    <input type="submit" value="log out" class="btn btn-secondary">
  </form>
</div>
  <script>
    document.getElementById('deleteForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        var password = document.getElementById('user-password').value;
        fetch('/profile', {
            method: 'DELETE',
            body: JSON.stringify({ "password": password }),
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'include' // Include cookies in the request
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Parse the JSON response
            } else {
                throw new Error('Failed to delete account');
            }
        })
        .then(data => {
            // Handle response data
            console.log(data);
            window.location.href = '/signup'; // Redirect to sign-up page
        })
        .catch(error => {
            //console.error('Error:', error);
            // Handle error, maybe show an error message to the user
            alert("failed to delete account")
        });
    });
</script>
<script>
  const toggleButton = document.getElementById('toggleButton');
  const profileForm = document.getElementById('profileForm');
  const deleteButton = document.getElementById('deleteButton');
  const deleteForm = document.getElementById('deleteForm');

  toggleButton.addEventListener('click', function() {
    profileForm.classList.toggle('hidden');
    toggleButton.textContent = profileForm.classList.contains('hidden') ? 'Edit Profile' : 'Close';
  });

  deleteButton.addEventListener('click', function() {
    deleteForm.classList.toggle('hidden');
    deleteButton.textContent = deleteForm.classList.contains('hidden') ? 'Delete Account' : 'Close';
  });

</script>
{% endblock %}
