{% extends "base.html" %}
    {% block content %}
        <div class="container">
                {% with messages = get_flashed_messages()%}
                    {% if messages%}
                        {% for message in messages%}
                            <p id="flash_message">{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
            <h1>Please sign in</h1>
            <br>
            <form action="/signup" method="post">
                <input type="email" placeholder="Email" name="email" >

                <input type="username" placeholder="Username" name="username" >

                <label>Password should be more than 5 characters :</label>
                <input type="password" placeholder="Password " name="password" >

                <input class="btn btn-default" type="submit" value="sign up">
            </form>
            <a href="{{ url_for('signin') }}">  have an acoount ? , sign in</a>
        </div>
    {% endblock %}
