{% extends "base.html" %}

{% block content %}
  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p id="flash_message">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="container" style="margin-left: 0px;">
    <div class="mb-3" style="display: flex;">
      <a href="/home" class="btn btn-primary">Home</a>
      <br>
      <a href="/admin" class="btn btn-primary">Admin Dashboard</a>
    </div>
    
    <div>
      {% for admin in all_admins %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Username: {{ admin.username }}</h5>
            <p class="card-text">Email: {{ admin.email }}</p>
            <p class="card-text">User ID: {{ admin.id }}</p>

            <form class="removeAdminForm" action='/superadmin' method="post">
              <input type="hidden" value="{{ admin.id }}" name="id">
              <button type="submit" class="btn btn-danger">Remove as Admin</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <script>
    document.querySelectorAll('.removeAdminForm').forEach(form => {
      form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        var admin_id = this.querySelector('input[name="id"]').value;
        fetch('/superadmin', {
          method: 'DELETE',
          body: JSON.stringify({ "id": admin_id }),
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include' // Include cookies in the request
        })
        .then(response => {
          if (response.ok) {
            return response.json(); // Parse the JSON response
          } else {
            throw new Error('Failed to remove user as admin');
          }
        })
        .then(data => {
          // Handle response data
          console.log(data);
          window.location.href = '/superadmin'; // Redirect to superadmin page
          alert("removed user as admin");
        })
        .catch(error => {
          // Handle error, maybe show an error message to the user
          alert("Failed to remove user as admin");
        });
      });
    });
  </script>
{% endblock %}
